<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" >

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Forbidden Action</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chango" rel="stylesheet">
	<link rel = "icon" href = "./images/iba-icon.png">
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="../static/css/error-page-403.css" />


</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div>
				<div class="notfound-404">
					<h1>!</h1>
				</div>
				<h2>Unexpected<br>Error</h2>
			</div>
			<p>Some unexpected error occurred! Try to reconnect <a href="/main">Back to homepage</a></p>
		</div>
	</div>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
