<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgot-password.css">
    <link rel = "icon" href = "./images/iba-icon.png">
</head>

<body>
    <div class="reset-container">
        <header class="header">
            <a href="/login" class="header-link"><img src="/images/iba-login-logo.png"
                    alt="IBA Tech Academy"></a>
        </header>

        <section class="reset-section">
            <img class="reset-section-image" src="/images/login-img.png" alt="robot w/ computers">
            <div class="reset-section-container">
                <h1 class="reset-section-container-title">Reset Password</h1>
                <p class="reset-section-container-description">We’ll e-mail you instruction on how to reset your
                    password</p>
                <p th:if="${rightEmail != null && !rightEmail}" style="color: red; font-size: 24px; margin-top: -25px">
                    You are not registered
                </p>
                <form  method="post" th:action="@{/forgot}" class="reset-section-container-form">
                    <div class="reset-section-container-form-input-wrapper">
                        <img src="/images/mail-icon.svg" alt="User Icon">
                        <label for="email"></label>
                        <input required class="reset-section-container-form-input" id="email" placeholder="Email address"
                            type="email" name="email" >
                    </div>
                    <span class="go-back-text">Go back to <a href="/login" class="go-back-link">Login</a></span>
                    <div class="reset-section-form-buttons">
                        <button type="submit" class="reset-section-container-form-login">Reset</button>
                        <a href="/register" class="reset-section-container-form-signup">Create account</a>
                    </div>

                </form>
            </div>
        </section>
    </div>

</body>

</html>