<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel = "icon" href = "./images/iba-icon.png">
</head>

<body>
<div class="login-container">
    <header class="header">
        <a href="./login.html" class="header-link"><img src="/images/iba-login-logo.png" alt="IBA Tech Academy"></a>
    </header>

    <section class="login-section">
        <img class="login-section-image" src="/images/login-img.png" alt="robot w/ computers">
        <div class="login-section-container">
            <h1 class="login-section-container-title">Welcome Back!</h1>
            <p class="login-section-container-description">To keep connected with us please login with personal
                    information by email address and password</p>
            <p th:if="${error}" class="error" style="color: red; font-size: 20px;">
                Wrong email or password! Make sure credentials are correct or click "Forgot password"
                if you can't log in</p>

            <form name="f" method="post" th:action="@{/login}" class="login-section-container-form">
                <!--                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                <div class="login-section-container-form-input-wrapper">
                    <img src="/images/mail-icon.svg" alt="User Icon">
                    <label for="email"></label>
                    <input class="login-section-container-form-input" id="email" name="email"
                           placeholder="Email address"
                           type="email">
                </div>
                <div class="login-section-container-form-input-wrapper">
                    <img src="/images/lock-icon.svg" alt="User Icon">
                    <label for="password"></label>
                    <input class="login-section-container-form-input" id="password" name="password"
                           placeholder="Password"
                           type="password">
                </div>
                <div class="login-section-container-options">
                    <div class="login-section-container-options-wrapper">
                        <label class="login-section-container-options-checkbox-wrapper">Remember Me
                            <input type="checkbox" class="login-section-container-options-old-checkbox" name="remember-me">
                            <span class="login-section-container-options-checkmark"></span>
                        </label>
                    </div>
                    <a href="/forgot" class="login-section-container-options-link">Forgot
                        password?</a>
                </div>
                <div class="login-section-form-buttons">
                    <input type="submit" class="login-section-container-form-login" value="Login now">
                    <a href="/register" class="login-section-container-form-signup">Create account</a>
                </div>
<!--                <div class="login-section-form-social">-->
<!--                    <div class="login-section-form-social-description-wrapper">-->
<!--                        <hr class="login-section-form-social-description-line">-->
<!--                        <span class="login-section-form-social-description">Or you can Join with</span>-->
<!--                        <hr class="login-section-form-social-description-line">-->
<!--                    </div>-->
<!--                    <div class="login-section-form-social-icon-wrapper">-->
<!--                        <a href="#" class="login-section-form-social-icon"><img src="/images/google-plus.svg"-->
<!--                                                                                alt="Google Plus"></a>-->
<!--                        <a href="#" class="login-section-form-social-icon"><img src="/images/facebook.svg"-->
<!--                                                                                alt="Facebook"></a>-->
<!--                        <a href="#" class="login-section-form-social-icon"><img src="/images/linked-in.svg"-->
<!--                                                                                alt="Linked In"></a>-->
<!--                        <a href="#" class="login-section-form-social-icon mr0"><img src="/images/twitter.svg"-->
<!--                                                                                    alt="Twitter"></a>-->
<!--                    </div>-->
<!--                </div>-->
            </form>
        </div>
    </section>
</div>
<script src="./js/checkbox.js"></script>
</body>

</html>